@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes static {
  0% {
    transform: translateX(-1000px);
  }

  33% {
    transform: translateY(-1000px);
  }

  66% {
    transform: translateX(1000px);
  }

  100% {
    transform: translateY(1000px);
  }
}

@layer base{
  .body {
      @apply dark:bg-slate-950 bg-white
  }
}

body {
  --webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  /* background: radial-gradient(#020617, rgb(13, 17, 23) 94%); */
}
