@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes static {
  0% {
    transform: translateX(-1000px);
  }

  33% {
    transform: translateY(-1000px);
  }

  66% {
    transform: translateX(1000px);
  }

  100% {
    transform: translateY(1000px);
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  background-color: #343541;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #343541;
  border-radius: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer base{
  .body {
      @apply dark:bg-darkBackground bg-white
  }
}

body {
  --webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.pattern {
  mask-image: linear-gradient(#000, rgba(0,0,0,0.1))
}
